@charset "UTF-8";

:root {
    --branco: #ffffff;
    --azul: rgba(9, 52, 245, 0.795);cab;
    /* --fontfamily: */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* os elementos não vão romper a saída da caixa (não irão querar o box) */ 
}
/* base */
body {
    background-color: rgba(0, 0, 0, 0.938);
    color: var(--branco);
    font-family: 'Times New Roman', Times, serif;
}
/* header {
} */
header .logo {
    margin-left: 20px;
    color: var(--azul);
    font-family: 'Tourney', cursive;
    font-size: 60px; /* tamanho da letra */
}
header .logo:hover {
    color: var(--branco);
    opacity: 0.5;
}
header .container {
    display: flex;
    align-items: center; /* centralizou a div container */
    justify-content: space-between;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)100%); /* escurece o fundo da imagem ou video */
}       
header nav a {
    text-decoration: none;
    color: var(--branco);
    margin-right: 10px; /* margem somente a direita */
    transition: .3s ease all;
}
header nav a:hover {
    color: var(--azul);
}
.legenda {
    color: var(--azul);
}
.legenda:hover {
    color: var(--branco);
}
/* jogo destaque */
.jogo-principal {
    font-size: 20px;
   
    background-size: cover; /* para especificar o tamanho da imagem no elemento (cover pega a área de cobertura) */
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)100%); /* url(../img/god-of-wars-kratos-takes-the-throne-in-new-collect_jm4h.1200.jpg); */
    display: flex; /* pega o elementos da div que são caixas e destribui como para visualização de linha/horizontal */
    flex-direction: column; /* defini a direção do display FLEX, nesse caso jogou como colunas */
    justify-content: center; /*  centraliza para flexbox */
    align-items: flex-start; /* depois da definição do content sobre a "caixa centralizada" o align faz com que o texto comece alinhado da esquerda do elemento/div */
}
.jogo-principal .descricao {
    margin-top: 10px;
    margin-bottom: 20px; /* margem abaixo da descrição do jogo */
}
.titulo { /* se estivesse .jogo-principal na frente do título não faria diferença */
    font-size: 40px; /* tamanho da descrição */
    font-family: 'Rubik Mono One', sans-serif;
}
.botao{
    background-color: rgba(0, 0, 0, 0.50); 
    border: none; /* tira os estilos de borda padrão ta tag  BUTTON */
    color: var(--branco);
    padding: 15px 30px;
    border-radius: 10px;
    margin-right: 15px; /* margem da direita do elementos */
    font-size: 15px;
    transition: .3s ease all; /* animação de transição dos botões de compra e informações */
    cursor: pointer;
    width: 250px;
}
.botao:hover {
    background-color: var(--branco);
    color: black;
}
.botao i {
    margin-right: 5px;
}
.container {
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 15px;
}
.filme-principal .container { /* faz com que a largura do título fique em 70% para que o texto não se expanda */
    width: 10%;
}
.box-jogo {
    height: 20%;
    width: 20%;
    display: block; /* block (blocos em vertical) Inline block (horizontal) Inline (vertical e horizontal) */
    opacity: 0.7; /* deixa a opacidade/transparência ativa */
    border-radius: 5px;
}
.box-jogo:hover {
    opacity: 1; /* com o 1 sendo mais opaco, irá retirar a opacidade dando clareza no que está selecionado */
}
.carrosel-jogos {
    margin-top: -8%;
    cursor: pointer;    
}
.videoBG {
    margin-top -10px;
    position: fixed;
    z-index: -3; /* coloca o vídeo atrás do conteúdo */
    width: 100%;
    height:auto;
}